<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceClass</key>
	<string>N45Restore</string>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BoardConfig</key>
			<string>s5l8900xall</string>
			<key>DFUProductID</key>
			<integer>4642</integer>
			<key>DeviceReleaseNumber</key>
			<integer>1</integer>
			<key>RecoveryModeProductID</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>BoardConfig</key>
			<string>n45ap</string>
			<key>DFUProductID</key>
			<integer>4642</integer>
			<key>DeviceReleaseNumber</key>
			<integer>8450</integer>
			<key>RecoveryModeProductID</key>
			<integer>4736</integer>
		</dict>
	</array>
	<key>FirmwareDirectory</key>
	<string>Firmware</string>
	<key>ProductBuildVersion</key>
	<string>3A101a</string>
	<key>ProductType</key>
	<string>iPod1,1</string>
	<key>ProductVersion</key>
	<string>1.1</string>
	<key>RestoreKernelCaches</key>
	<dict>
		<key>Release</key>
		<string>kernelcache.release.s5l8900xrb</string>
	</dict>
	<key>RestoreRamDisks</key>
	<dict>
		<key>Update</key>
		<string>022-3605-4.dmg</string>
		<key>User</key>
		<string>022-3604-4.dmg</string>
	</dict>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>304218113</integer>
			<integer>304226560</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>310386944</integer>
		</array>
	</dict>
	<key>SystemRestoreImages</key>
	<dict>
		<key>User</key>
		<string>022-3601-4.dmg</string>
	</dict>
</dict>
</plist>
